<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/body.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/automate.css') }}">
</head>
<body>
    <div class="heading">{{ heading }}</div>
    <div class="error">{{ error }}</div>
    <div class="info">{{ info|safe }}</div>
    <form action="/automate/start" method="post" enctype="multipart/form-data">
        <p>
            <label for="agents">Select agent(s) to run</label>
            <br/>
            <select id="agents" name="agents" class="control" multiple>
                {% for value, label in agents.items() %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="button" id="expand-ctrl" class="control"
               value="Select a file" onclick="
               aideas.toggle_text('#expand-ctrl', 'Select a file', 'Enter text');
               aideas.toggle_display('#expand-file');
               aideas.toggle_display('#expand-text')"/>
        <div id="expand-file" style="display:none">
            <p>
                <label for="video-content-file">
                    Select the text file containing the content you want to post
                </label>
                <br/>
                <input type="file" id="video-content-file" name="video-content-file" class="control"
                       accept="text/*"/>
            </p>
        </div>
        <div id="expand-text">
            <p>
                <label for="video-title">
                    Enter the title of the content you want to post (Optional)
                </label>
                <br/>
                <input type="text" id="video-title" name="video-title" class="control"
                       placeholder="title" size="51" maxlength="120"/>
            </p>
            <p>
                <label for="video-content">
                    Enter the content you want to post, or select a file below
                </label>
                <br/>
                <textarea id="video-content" name="video-content" class="control"
                          placeholder="content" rows="5" cols="42"></textarea>
            </p>
        </div>
        <p>
            <label for="video-cover-image">Select an image - Landscape</label>
            <br/>
            <input type="file" id="video-cover-image" name="video-cover-image" class="control"
                   accept="image/jpeg, image/jpg"/>
        </p>
        <p>
            <label for="video-cover-image-square">Select an image - Square (Optional)</label>
            <br/>
            <input type="file" id="video-cover-image-square" name="video-cover-image-square" class="control"
                   accept="image/jpeg, image/jpg"/>
        </p>
        <button type="submit" id="submit" class="control">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>