<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/body.css') }}">
</head>
<body>
    <h1>{{ heading }}</h1>
    <p>
        Automate posting to X, tiktok, youtube, instagram, reddit, facebook,
        even your blog and much more, all for free.
    </p>
    <a href="/automate">Click here</a> to automatically post to social media.
</body>
</html>