form {
    width: 40rem;
    background-color: #f0f3f6;
    padding: 1rem;
    border-radius: 0.5rem; }

form #agents {
    min-height: 2rem;
    max-height: 7rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
form .control { font-size: 1.5rem; }

form select { width: 20rem; }

form button {
    background-color: #0f9df7;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
}

#expand-ctrl { background-color:#e0e3e6; padding: 0.25rem 0.5rem; border: none; border-radius: 0.25rem; }