<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/body.css') }}">
</head>
<body>
    <div class="heading">{{ heading }}</div>
    <div class="error">{{ error|safe }}</div>
    <div class="info">{{ info|safe }}</div>
    <p><a href="details.html?tag=generate-video">Click here</a> to generate video.</p>
    <p><a href="details.html?tag=generate-image">Click here</a> to generate image.</p>
    <p><a href="details.html?tag=post">Click here</a> to post to social media.</p>
    <p><a href="details.html?tag=custom">Click here</a> for custom automation.</p>
    <p><a href="details.html?tag=test">Click here</a> to test automation.</p>
</body>
</html>