{% extends "common/page.html" %}

{% block heading %}Automate tasks using agents{% endblock %}

{% block content %}
    <p><a href="select-agents.html?tag=generate-video">Click here</a> to generate video.</p>
    <p><a href="select-agents.html?tag=generate-image">Click here</a> to generate image.</p>
    <p><a href="select-agents.html?tag=post">Click here</a> to post to social media.</p>
    <p><a href="select-agents.html?tag=custom">Click here</a> for custom automation.</p>
    <p><a href="select-agents.html?tag=test">Click here</a> to test automation.</p>
{% endblock %}
