{% extends "common/page.html" %}

{% block heading %}Automate tasks using agents{% endblock %}

{% block content %}
    <p><a href="details/generate-video.html">Click here</a> to generate video.</p>
    <p><a href="details/generate-image.html">Click here</a> to generate image.</p>
    <p><a href="details/post.html">Click here</a> to post to social media.</p>
    <p><a href="details/custom.html">Click here</a> for custom automation.</p>
    <p><a href="details/test.html">Click here</a> to test automation.</p>
{% endblock %}
