{% extends "common/page.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block heading %}Select agents to {{ tag|replace("-", " ") }}{% endblock %}

{% block content %}
    <form action="enter-details.html">
        <input type="hidden" name="tag" value="{{ tag }}"/>
        <div>
            <label for="agents">Select agent(s) to run</label>
            <div id="agents">
                {% with name='agents', items=agents.items() %}
                    {% include "automate/form/common/checkbox-group.html" %}
                {% endwith %}
            </div>
        </div>
        <br/>
        <button type="submit" id="submit" class="control">Submit</button>
    </form>
{% endblock %}