{% extends "common/page.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block heading %}Select agents to {{ tag|replace("-", " ") }}{% endblock %}

{% block content %}
    <form action="enter-details.html">
        <input type="hidden" name="tag" value="{{ tag }}"/>
        <div>
            <label for="agents">Select agent(s) to run</label>
            <div id="agents">
                {% if agents|length > 1 %}
                <div>
                    <input type="checkbox" id="all-agents" class="control"
                           onclick="aideas.toggle_checked('.control.agent-check');"/>
                    <label for="all-agents">All</label>
                </div>
                {% endif %}
                <div>
                    {% for value, label in agents.items() %}
                    <input type="checkbox" name="agents" class="control agent-check"
                           value="{{ value }}"/>
                    <label for="{{ value }}">{{ label }}</label>
                    <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <button type="submit" id="submit" class="control">Submit</button>
    </form>
{% endblock %}