<label for="language-codes">
    <span id="red-asterix">*</span>&nbsp;Select language(s).
</label>
<br/>
<select id="language-codes" name="language-codes" class="control" multiple>
    <!-- TODO - Add all languages -->
    <option value="ar">العربية</option>
    <option value="bn">বাংলা</option>
    <option value="de">Deutsch</option>
    <option value="en" selected>English</option>
    <option value="es">Español</option>
    <option value="fr">Français</option>
    <!--option value="hi"></option-->
    <option value="it">Italiano</option>
    <option value="ja">日本語</option>
    <option value="ko">한국어</option>
    <option value="ru">Русский</option>
    <option value="zh">中文</option>
    <option value="zh-TW">中文</option>
</select>
